.sec2main {
  width: 100%;
  height: 300px;

  margin-bottom: 10%;
}
.seccon2 {

  height: 294px;
 

  display: flex;
 


  
  gap: 10px;
 
}
.sec2sub1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  align-items: flex-end;


 
      
}

.sec2sub1 > p:nth-child(1) {
  font-family: Volkhov;
  font-size: 36px;
  font-weight: 300;
 

  width: 493px;
  height: 136px;

  color: #323564;
  text-align: right;
}
.sec2sub1 > p:nth-child(2) {
  width: 436px;
  height: 78px;

  color: #8a8a8a;
  text-align: right;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 200;
  line-height: 15px;
 
}
.sec2sub1 > button {
  width: 150px;
  height: 35px;

  background-color: #000000;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 30px 20px -2px;
}

#sec2con2 {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
  
  
 
  margin-right: 0%;
}
#sec2con2 > img:nth-child(1) {
  width: 270px;
  height: 370px;

}
#sec2con2 > img:nth-child(2) {
  width: 270px;
  height: 370px;

}
#sec2con2 > img:nth-child(3) {
  width: 270px;
  height: 370px;
 

  clip-path: inset(0 50% 0 0);
}
#se2icons {
  display: flex;
  gap: 2px;
  margin-top: 130%;
  width: 112px;
  height: 48px;
  
}
.se2icons {
  width: 48px;
  height: 48px;

  border-radius: 50%;

  background-color: #ffffff;

  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.se2icons:hover {
  color: #ca2e55;
}
#arrows{
margin-top: 5%;
margin-left: 30%;
}

