#sec7main {
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .sec7con {
    margin-bottom: 2%;
  }
  
  .sec7con p:nth-child(1) {
    font-size: 24px;
    font-weight: bold;
  }
  
  .sec7con p:nth-child(2) {
    font-size: 16px;
    color: gray;
  }
  
  #sec7con2 {
    width: 80%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
  }
  
  .sec7slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .sec7sub2 {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
  }
  
  .sec7sub2 img {
    width: 150px;
    height: 150px;
    border-radius: 2%;
    margin-right: 20px;
  }
  
  .sec7sub2 .sec7pt1 {
    font-size: 16px;
    text-align: left;
    margin: 10px 0;
  }
  
  .sec7sub2 .ratting {
    display: flex;
    margin-bottom: 10px;
  }
  
  .sec7sub2 .ratting svg {
    color: gold;
    margin-right: 5px;
  }
  
  .sec7sub2 hr {
    width: 80%;
    margin: 10px 0;
  }
  
  .sec7sub2 .sec7nam {
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
  
  .sec7sub2 .sec7nam2 {
    font-size: 12px;
    text-align: left;
    color: gray;
  }
  
 
  
  .se2icons {
    font-size: 24px;
    cursor: pointer;
    user-select: none;
  }
  