/* Container styles */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  background-color: #fff;
  position: sticky;
  top: 0;
  height: 100px;
  z-index: 1000;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.container > div {
  padding: 6%;
 
}

.p1 {
  font-size: 24px;
  font-weight: bold;
  font-family: Volkhov, serif;
  line-height: 52px;
  text-align: left;
  margin: 0;
}

/* Middle container styles */
.midCon {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.midCon > a {
  text-decoration: none;
  color: #000;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}

.midCon > a:hover {
  color: #ca2e55;
}

/* Icon styles */
.icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icons > * {
  cursor: pointer;
}

.searchicon, .facebook, .insta, .twitter {
  width: 24px;
  height: 24px;
}

/* Button styles */
button {
  padding: 10px 20px;
  border: none;
  background-color: #ca2e55;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background-color: #444;
}

/* Hamburger styles */
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .container {
    height: auto;
    padding: 10px 20px;
  }

  .p1 {
    font-size: 32px;
  }

  .midCon {
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .midCon.open {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .icons {
    display: none;
  }

  .searchicon, .facebook, .insta, .twitter {
    width: 20px;
    height: 20px;
  }

  button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media (max-width: 768px) {
  .p1 {
    font-size: 24px;
  }

  .icons {
    display: none;
  }

  .container {
    padding: 0 10px;
  }

  button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .p1 {
    font-size: 24px;
  }

  .icons {
    display: none;
  }

  .container {
    padding: 0 10px;
  }

  button {
    font-size: 14px;
    padding: 8px 16px;
  }
}
