.footerMain {
  margin: 10%;

  font-family: Arial, sans-serif;
}

.footerCon {
}

.footer1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.fc1,
.fc2,
.fc4 {
  margin: 20px;
}

.fc1 img {
  width: 50px;
  height: auto;
}

.fc1 p,
.fc2 p,
.fc4 p {
  margin: 10px 0;
}

.fc1_icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.fc1_icons .facebook,
.fc1_icons .insta,
.fc1_icons .twitter {
  font-size: 1em;
  cursor: pointer;
}

.fc4 p {
  display: flex;
  align-items: center;
}

.fc4 p svg {
  margin-right: 10px;
}

.hr1 {
  border: 0;
  height: 1px;
  background: rgb(236, 107, 107);
  margin: 20px 0;
}

.foorer2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.foorer2 p {
  margin: 10px 0;
}

.img-container {
  display: flex;
  gap: 10px;
}

.img-container .fimg {
  width: 30px;
  height: auto;
}

@media (max-width: 768px) {
  .footerCon,
  .footer1,
  .foorer2 {
    flex-direction: column;
    align-items: center;
  }

  .fc1 img {
    width: 100px;
  }

  .fc1_icons .facebook,
  .fc1_icons .insta,
  .fc1_icons .twitter {
    font-size: 1.2em;
  }

  .img-container .fimg {
    width: 30px;
  }
}
