.sec6con{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}
#sect6pt1{
    width: 693px;
height: 793px;
top: 5317px;
left: 285px;
gap: 0px;
opacity: 0px;


}
#sect6pt2{
    width: 718px;
height: 718px;
top: 5333px;
left: 1763px;
gap: 0px;
opacity: 0px;


}
#sect6pt1_1{
    width: 693px;
height: 131px;
top: 5317px;
left: 285px;
gap: 0px;
opacity: 0px;

}
#sect6pt1_1>p:nth-child(1){
    width: 693px;
height: 46px;
top: 5317px;
left: 285px;
gap: 0px;
opacity: 0px;
font-family: Volkhov;
font-size: 44px;
font-weight: 400;
line-height: 46.29px;
text-align: center;
color:#000000;

}
#sect6pt1_1>p:nth-child(2){
    width: 614px;
    height: 52px;
    top: 5396px;
    left: 324px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: #8A8A8A;
        
}

.sec6form{
    width: 631px;
height: 499px;
top: 5478px;
left: 316px;
gap: 0px;
opacity: 0px;
margin: auto;
text-align: center;
padding: 25px;


}
.sec6form>form>input:nth-child(1),.sec6form>form>input:nth-child(2),.sec6form>form>input:nth-child(3){
margin: 10px;
    width: 631px;
height: 86px;
top: 5478px;
left: 316px;
gap: 0px;
opacity: 0px;
border: none;
box-shadow: 0px 3.02px 3.15px 0px #00000002;

box-shadow: 0px 13.28px 6.52px 0px #00000004;

box-shadow: 0px 32.6px 13px 0px #00000005;

box-shadow: 0px 62.79px 25.48px 0px #00000006;

box-shadow: 0px 105.65px 46.85px 0px #00000008;

box-shadow: 0px 163px 80px 0px #0000000A;
color: #FFFFFF;

}


.sec6form>form>input:nth-child(4){
    margin: 10px;
    width: 631px;
height: 181px;
top: 5796px;
left: 316px;
gap: 0px;
opacity: 0px;
border: none;
box-shadow: 0px 3.02px 3.15px 0px #00000002;

box-shadow: 0px 13.28px 6.52px 0px #00000004;

box-shadow: 0px 32.6px 13px 0px #00000005;

box-shadow: 0px 62.79px 25.48px 0px #00000006;

box-shadow: 0px 105.65px 46.85px 0px #00000008;

box-shadow: 0px 163px 80px 0px #0000000A;

color: #FFFFFF; 
}
.sec6form>form>input:nth-child(1)::placeholder,
.sec6form>form>input:nth-child(2)::placeholder,
.sec6form>form>input:nth-child(3)::placeholder,
.sec6form>form>input:nth-child(4)::placeholder

{
    font-family: Poppins;
font-size: 22px;
font-weight: 400;
line-height: 26px;
text-align: left;
width: 67px;
height: 26px;


color: #8A8A8A;

}
#formbut{
    width: 206px;
height: 56px;
top: 6054px;
left: 527px;
gap: 0px;
border-radius: 10px 0px 0px 0px;
opacity: 0px;
border-radius: 10px;
background-color: #323654;
margin-top: 25px;
}