.sec3pt1 {
    padding: 25px;
    width: 100%;
    height: 100px;
    
    text-align: center;
    margin: auto;
  }
  
  .sec3pt1 > p:nth-child(1) {
    font-family: Volkhov, serif; /* Specify font-family */
    font-size: 36px;
    font-weight: 400;
    line-height: 59.34px;
    color: #323654;
    margin: 0; /* Remove default margin */
  }
  
  .sec3pt1 > p:nth-child(2) {
    font-family: Rubik, sans-serif; /* Specify font-family */
    font-size: 20px;
    font-weight: 400;
    line-height: 21.04px;
    color: #707070;
    margin: 0; /* Remove default margin */
  }
  .sec3But{
    
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; 
    gap: 4%;

  }
  .sec3But>button{
    width: 125px;




background-color:  #FAFAFA;
color: #8A8A8A;
border-radius: 10px;


  }
  .sec3But>button:hover{
    background-color: #323654;

  }
 
  .sec3data{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2px;
    margin: 2%;
    flex-wrap: wrap;
   
   
  }
  .sec3co1{
    margin: auto;
    box-shadow: 0px 40px 90px 0px #0000000F;
    padding: 10%;
    width: 50%;

  }
  .sec3co1>img{
    width: 100%;
height: 144px;

border-radius: 10px ;



  }
  .sec3co1>p{
    width: 226px;
height: 45px;


font-family: Poppins;
font-size: 20px;
font-weight: 500;

text-align: left;
color: #484848;


  }
  .ratting{
    display: flex;
    color: #FCA120;
    width: 95px;
height: 19px;



  }
  #sec3view {
    width: 147px;

    
    background-color: #323654;
    
    color: #FAFAFA;
    border-radius: 10px;
    margin: auto;
    display: flex;
   
    justify-content: center;
 align-items: center;
 margin: auto;
  
    opacity: 1; /* Ensure the button is visible */
  }
  